body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

@font-face {
    font-family: CursedTimerUlil-Aznm;
    src: url(Fonts/CursedTimerUlil-Aznm.ttf);
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #1B244A;
    background-image: linear-gradient(to right, #8a3d8e, #ffd630);

}
    .container-sub {
        display: flex;
        justify-content: space-around;
        height: 385px;
        width: 575px;
    }
    #fixed-title {
        font-size: 40px;
    }
    h3 {
        font-size: 18px;
        color: #EEEEEE;
        margin-bottom: 21px;
        text-shadow: 0px 0px 2px rgb(0, 0, 0);
    }
    .score {
        font-family: CursedTimerUlil-Aznm;
        font-size: 90px;
        color: #c1f0ff;
        text-shadow: 0px 0px 5px rgb(34, 146, 251);
        background-color: black;
        display: flex;
        flex-direction:row;
        align-items: end;
        justify-content: center;
        height: 120px;
        width: 155px;
        margin: 0px ;
        margin-bottom: 26px;
        padding: 0px;
        border-radius: 5px;
    }
    .btn-1 {
        height: 45px;
        width: 45px;
        margin: 5px;
        padding-top: 5px;
        background: transparent;
        border: solid #eff0ff 2px;
        border-radius: 5px;
        font-family: CursedTimerUlil-Aznm;
        font-size: 18px;
        color: #c3fdff;
        box-shadow: 0px 0px 2px rgb(163, 235, 255);
        text-shadow: 0px 0px 2px rgb(164, 218, 255);
    }
    .btn-1:hover {
        box-shadow: 0px 0px 5px aliceblue;
        color: aliceblue;
    }
    #home-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center 
    }
        #home-column-sub {
            display: flex;
            flex-direction: row;
        }
    #guest-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center 
    }
        #guest-column-sub {
            display: flex;
            flex-direction: row;
        }
    .new-game {
        display: flex;
    }
    #new-game-btn {
        width: 200px;
        height: 60px;
        margin: 30px;
        border-radius: 5px;
        font-family: CursedTimerUlil-Aznm;
        font-size: 25px;
        padding-top: 5px;
        background: transparent;
        border: dotted #eff0ff 5px;
        color: #c3fdff;
        text-shadow: 0px 0px 2px rgb(164, 218, 255);
    }
    #new-game-btn:hover {
        border: dotted #8991ff 8px;
        color: #c3fdff;
        text-shadow: 0px 0px 2px rgb(0, 0, 0);
    }
    .highlight {
        border: solid 0px gold;
        color: gold;
        box-shadow: 0px 0px 10px gold;
    }